@media (max-width: 700px) {
    .header {
        padding: 15px 20px;
        flex-direction: column;
        gap: 30px;
    }

    .menu {
        gap: 10px;
    }

    .menu a {
        padding: 10px 30px;
        background-color: #baae4177;
        display: block;
        border-radius: 4px;
    }

    .menu a:hover {
        background-color: #baae41d0;
        color: #1B1800;
    }
}